body {
    position: relative;
    background: url('../img/bg-middle.jpg') repeat-x bottom,
        url('../img/bg-top.jpg');
    text-align: justify;
    color: #000;
}

body.courses-body {
    background: url('../img/bg.jpg');
}
body.courses-body #container {
    background: rgb(250,250,250);
}

p {
    color: black;
}

.navbar-static-top {
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}
footer p {
    text-align: center;
}
/* Bootsrap extensions */

.icon-phone {
    background-position: 0 -168px;
}

#container {    
    background: url('../img/transparent.png');
    padding: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 10px black; /* Для Firefox */
    -webkit-box-shadow: 0 0 10px black; /* Для Safari и Chrome */
    box-shadow: 0 0 10px black; /* Параметры тени */
}

#container .hero-unit {
    text-shadow: 1px 1px 1px #FFF;
    filter: dropshadow(color=#FFF, offx=1, offy=1);
    padding: 30px;
    font-size: 15px;
    line-height: 26px;

}
#container .hero-unit .tooltip-inner{
    max-width: none;
    background: #ccc;
    color: #000;
    font-weight: bold;
}

#container .hero-unit .tooltip-arrow{
    border-right-color: #ccc;
}

#container .hero-unit h1 {
    font-size: 49px;

}

#container .hero-unit .hero-unit-image {
    float: right;
    margin-top: -37px;
    margin-right: -27px;
}
#container .row .home-images {
    float: right;
    padding-left: 10px;
}


/* Courses */

#container .sing-up-now {
    text-align: center;
    background: white;
    color: #666;
    border: 1px solid #CCC;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: inset 1px 1px 6px 0px #CCC;
    -moz-box-shadow: inset 1px 1px 6px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 6px 0px #CCC;
}
#container .sing-up-now legend div{
    text-align: center;
}
#container .sing-up-now-line {
    position: absolute;
    float: right;
    margin-left: 272px;
    margin-top: -15px;
}

#container .sing-up-sell-img {
    margin:  0px 10px 0px 0px;
}

#container .courses-block-list div.span4{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px #666;
    border-bottom: 1px solid #EEE;
    -moz-box-shadow: 1px 1px 6px 0px #666;
    -webkit-box-shadow: 1px 1px 6px 0px #666;
    -webkit-transition: all 800ms ;
    -moz-transition: all 800ms ;
    -ms-transition: all 800ms ;
    -o-transition: all 800ms ;
    transition: all 800ms ;
    width: 300px !important;

    margin-bottom: 20px;
}

#container .courses-block-list div.span4:hover{
    box-shadow: 1px 1px 20px 0px #111;
    -moz-box-shadow: 1px 1px 20px 0px #111;
    -webkit-box-shadow: 1px 1px 20px 0px #111;
    -webkit-transition: all 800ms ;
    -moz-transition: all 800ms ;
    -ms-transition: all 800ms ;
    -o-transition: all 800ms ;
    transition: all 800ms ;
    cursor: pointer;

}

div.row .span12.breadcrumbs {
    margin-bottom: 20px;
}
/*  Courses overwrite */
body.courses-body .hero-unit h1{
    color: #333;
}
body.courses-body {
    color: #333;
}
/*  END Courses overwrite */
#container .courses-block-list div.span4 .readmore .readmore-wrapper{
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-weight: bold;
    background: url('../img/op60.png');
    width: 200px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 80px;
}

#container .courses-block-list div.span4 .readmore{
    height: 187px;
    width: 300px;
    background: url('../img/op60.png');
    border-radius: 9px 9px 0 0;
    position: absolute;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 800ms ;
    -moz-transition: all 800ms ;
    -ms-transition: all 800ms ;
    -o-transition: all 800ms ;
    transition: all 800ms ;
}

#container .courses-block-list div.span4:hover .readmore{
    background: url('../img/op60.png');
    display: block;
}

#container .courses-block-list div.span4:hover .readmore{
    opacity: 1;
    -webkit-transition: all 800ms ;
    -moz-transition: all 800ms ;
    -ms-transition: all 800ms ;
    -o-transition: all 800ms ;
    transition: all 800ms ;
}

#container .courses-block-list div.span4:hover .course-label{
    background: url('../img/courses/courses-label-bg-hover.png') repeat-x;
    -webkit-transition: all 800ms ;
    -moz-transition: all 800ms ;
    -ms-transition: all 800ms ;
    -o-transition: all 800ms ;
    transition: all 800ms ;
}


#container .courses-block-list div.span4 .course-label{
    background: url('../img/courses/courses-label-bg.png') repeat-x;
    color: #FFF;
    padding: 0px 5px;
    font-weight: bold;
    height: 59px;
    font-size: 18px;
    text-shadow: 1px 1px 2px #111;
    line-height: 18px;
}

#container .courses-block-list div.span4 .course-description  {
    height: 33px;
    background: url('../img/courses/courses-desription-bg.png') repeat-x;
    padding: 0px 5px;
    line-height: 33px;

}

#container .courses-block-list div.span4 .course-description .old-price {
    font-size: 16px;
    text-decoration: line-through;
    font-style: italic;
    float: right;
    margin-right: 10px;
    text-align: right

}

#container .courses-block-list div.span4 .course-description .new-price {
    font-size: 18px;
    font-style: italic;
    float: right;
    text-align: right
}
#container .courses-block-list div.span4 .course-description .raiting {
    font-size: 14px;
    width: 110px;
    padding: 0px 10px;
    text-align: left;
    float: left;
    background: url('../img/courses/courses-desription-separator.png') no-repeat right;
}
/* Courses detail*/

#container .course-block .courses-promo-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.course-block .skills-red-line {
    float: right;
    margin: -5px -5px 0 0;
}

@media (max-width: 979px) {

    #container .sing-up-now { 
        width: 100%;
    }
}

@media (max-width: 480px) {
    #container .courses-block-list div.span4 {
        width: 267px !important;

    }
    #container .courses-block-list {
        width: 300px;
        margin: auto;
    }

    #container .courses-block-list div.span4 .readmore {
        width: 267px !important;
        height: 166px;
    }
}
@media (max-width: 768px) {
    #container .courses-block-list {
        width: 300px !important;
        margin: auto !important;
    }
    h1 {
        font-size: 30px !important;
        color: yellow;
    }


}
@media (min-width: 768px) and (max-width: 979px) {

    body .container {
        width: 620px;
    }


}